package index

import (
	"github.com/will-lol/personal_website/util/components"
)

templ index(message string) {
	@components.Layout("Home") {
		<div>{ message }</div>
		@components.Button(templ.Attributes{"id": "subscribe"}) {
			click for notifications
		}
		@components.Button(templ.Attributes{"id": "notify"}) {
			click to notify
		}
		<script type="module" src="assets/js/index/notifications.js"/>
	}
}
