package components

templ Layout(title string) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>{ title + "—W. Bradshaw" }</title>
			<script src="assets/js/htmx.min.js"/>
			<link rel="stylesheet" href="assets/css/main.css"/>
		</head>
		<body class="relative bg-warm-100 h-[200vh] text-warm-900">
			@Nav()
			{ children... }
		</body>
	</html>
}
