package components

templ Layout(title string) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>{ title }</title>
			<script src="assets/js/htmx.min.js"/>
			<link rel="stylesheet" href="assets/css/main.css"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
