package components

templ Header(title string) {
	<div class="font-serif flex flex-col gap-2 md:pt-40 pt-28 pb-2">
		<h1 class="p-name block text-5xl leading-snug">
			{ title }
		</h1>
		{ children... }
		<hr class="border-warm-300"></hr>
	</div>
}
