package components

templ Prose() {
	<article class="prose max-w-none prose-headings:font-serif prose-pre:w-[70vw] prose-pre:min-w-full prose-pre:max-w-none prose-pre:left-1/2 prose-pre:relative prose-pre:-translate-x-1/2 prose-pre:rounded-none prose-img:w-[70vw] prose-img:min-w-full prose-img:max-h-[70vh] prose-img:max-w-none prose-img:left-1/2 prose-img:object-contain prose-img:relative prose-img:-translate-x-1/2 prose-headings:font-normal prose-warm">
		{ children... }
	</article>
}
